/******************* Google Search *************************/
div.googlesearch {width:100%; height:100%; padding:0; margin:0;}
.cse .gsc-control-cse, .gsc-control-cse {padding: 0%;}
input.gsc-search-button {font-size:12px; padding:0; margin:0; font-family:Arial, Verdana, sans-serif;}

/********************** GENERAL STYLES ************************/
a.externaltwo {background:none;} /* created to be changed in IE 7 */

/********************** HEADER STYLES *************************/
/*div.header_960 div form input.searchfield {position:relative; top:2px;}
div.header_960 div form input.searchbutton {position:relative; top:0;}
div.header_960 div.header-spacer {top:12px; margin-bottom:1px;}*/

/************** HEADER GRID ****************/
div.grid_183 {margin-top:18px;}/* 33px 4px 8px 5px; */

/************* BUTTON STYLE ************/
div.marginleftNews {margin-left:6px;}

/************** ABOUT ECFMG TOOLTIP ***********************/
div.ttAbout {margin-top:-3px;}
div.ttAbout div.tooltipmenu div.thirty-three a div.aboutoverview {cursor:pointer;}
div.ttAbout div.tooltipmenu div.thirty-three a div.svmpecfmg {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.svmpecfmg h5.svmp {margin:0 0 auto 20px;}
div.ttAbout div.tooltipmenu div.thirty-three a div.aboutannualreport {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.organizational {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.trustees {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.seniorstaff {cursor:pointer;}
div.ttAbout div.tooltipmenu div.thirty-three a div.initiatives {cursor:pointer;}  
div.ttAbout div.tooltipmenu div.thirty-three a div.history {cursor:pointer;} 
div.ttAbout div.tooltipmenu div.thirty-three a div.careers {cursor:pointer;} 
/*div.ttAbout div.tooltipmenu div.thirty-three a h5 {margin:8px 0 auto 20px;}*/

/************* PROGRAMS TOOLTIP STYLES ************/
div.ttPrograms {margin-top:-3px;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.certification {cursor:pointer;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.cvs {cursor:pointer;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.eras {cursor:pointer;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.j1 {cursor:pointer;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.eics {cursor:pointer;}
div.ttPrograms div.tooltipmenu div.fifty-fifty a div.acculturation {cursor:pointer;}
div.ttPrograms div.tooltipmenu a.overview {cursor:pointer;}

/************* ONLINESERVICES TOOLTIP STYLES ************/
div.ttOnlineservices {margin-top:-3px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.iwa {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.oasis {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.step2cs {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.cvsonlineL {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.ian {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.emswp {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.cvsonline {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.evn {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.imed {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.employment {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}
div.ttOnlineservices div.tooltipmenu div.fifty-fifty a div.overview {cursor:pointer; background:transparent url(images/tooltip_onlineservices_arrow.gif) no-repeat 0 1px;}

/************* NEWS TOOLTIP STYLES ************/
div.ttNews {margin-top:-3px;}
div.ttNews div.tooltipmenu ul.newslist {margin:33px 0 0 0;}
div.ttNews div.tooltipmenu ul.newslist li a.listone {cursor:pointer;}
/*div.ttNews div.tooltipmenu ul.allnews {margin:-5px 0 0 -5px;}*/
div.ttNews div.tooltipmenu ul.allnews li {margin:-10px 0 0 -15px;}

/************* RESOURCES TOOLTIP STYLES **************/
div.ttResources {margin-top:-3px;}
div.ttResources div.tooltipmenu div.thirtythree a div.six {cursor:pointer;}
div.ttResources div.tooltipmenu div.thirtythree a h5.header {margin:3px 0 0 25px;}
div.ttResources div.tooltipmenu div.thirtythree a div.behavior {cursor:pointer;}
div.ttResources div.tooltipmenu div.annualreport a div.imagelink {cursor:pointer;}
div.ttResources div.tooltipmenu div.data a div.imagelink {cursor:pointer;}
div.ttResources div.tooltipmenu div.annualreport div.aplink a h5.ap {margin:0 auto 0 auto; padding:1px 0 0 0; color:#006699; text-decoration:none; font-size:12px; text-align:center; text-decoration:underline;}
div.ttResources div.tooltipmenu div.annualreport div.aplink a h5.imageh5 {margin-top:-5px;}
.sidebarline {margin:-5px 0 0 -10px;}
.sidebarline2 {margin:8px 0 0 -10px;}